body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: lightblue;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: blue;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: green;
  color: blue;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
   
 .navbar .navbar a {
 	display:flex;
        flex-direction: column;
        width: 100%;
    }
   }
